.container {
    max-width: 100%;
    padding: 2.5% auto;
    border: 0px solid black;
  }
  .rightContainer{
    background: #000;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:0px solid red;
  }
  .alternateHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border:0px solid red;
 
  }
  .alternateHeader.linkToHome{
    border: 0px solid blue;
    width: 24%;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }
  